#Engine
Gemfile.lock
.rvmrc
*/.bundle
*.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*/server.pid

#test dummy app
test/dummy/.sass-cache
test/dummy/app/assets/images/tmps_cropper
test/dummy/db/*.sqlite3
test/dummy/db/schema.rb
test/dummy/log/*.log
test/dummy/public/assets
test/dummy/public/uploads
test/dummy/public/uploads/*

test/dummy/tmp/*
test/dummy/tmp/restart.txt

